{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block sys_name %}
    <title>basic</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .div{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="#">K8S-System</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">user</a></li>
                <li><a href="#">settings</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 50px;margin-bottom: 50px;padding: 0">
        <div class="row">
            <div class="col-md-2" style="background-color: #5bc0de">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menuOne" data-toggle="dropdown">
                        Server-machine-manage
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="menuOne">
                        <li><a href="#">function1</a></li>
                        <li><a href="#">function2</a></li>
                        <li><a href="#">function3</a></li>
                        <li><a href="#">function4</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menuTwo" data-toggle="dropdown">
                        Server-machine-manage2
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="menuTwo">
                        <li><a href="#">function1</a></li>
                        <li><a href="#">function2</a></li>
                        <li><a href="#">function3</a></li>
                        <li><a href="#">function4</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menuThree" data-toggle="dropdown">
                        Server-machine-manage3
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="menuThree">
                        <li><a href="#">function1</a></li>
                        <li><a href="#">function2</a></li>
                        <li><a href="#">function3</a></li>
                        <li><a href="#">function4</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menuFour" data-toggle="dropdown">
                        Server-machine-manage4
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="menuFour">
                        <li><a href="#">function1</a></li>
                        <li><a href="#">function2</a></li>
                        <li><a href="#">function3</a></li>
                        <li><a href="#">function4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10" style="background-color: #4cae4c">
                <p>content</p>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header" style="line-height: 50px">
            <span>Version19.10</span>
        </div>
    </nav>
</body>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>